<include file="Common/head" />
<body>
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

    <nav class="uk-navbar uk-margin-large-bottom">
        <a class="uk-navbar-brand uk-hidden-small" href="#">sample1</a>
        <a class="uk-navbar-brand uk-hidden-small" href="#">sample2</a>
        <a class="uk-navbar-brand uk-hidden-small" href="#">sample3</a>
        <a class="uk-navbar-brand uk-hidden-small" href="#">sample4</a>
        <a class="uk-navbar-brand uk-hidden-small" href="#">sample5</a>
        <a class="uk-navbar-brand uk-hidden-small" href="#">sample6</a>
    </nav>

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-3">
            <div class="uk-grid">
                <div class="uk-width-1-6">
                    <i class="uk-icon-cog uk-icon-large uk-text-primary"></i>
                </div>
                <div class="uk-width-5-6">
                    <a href="#"><h2 class="uk-h3">通用图像分析</h2></a>
                    <p>请上传任意图像</p>
                    <input type="file" name="general_pic" id="general_pic" accept="image/gif/jpg" />
                    <input type="button" name="uploadPicButton" value="上传" onclick="generalPic()" />
                    <div class="uk-grid" data-uk-grid-margin >
                        <div class="uk-width-medium-1-1">
                            <pre id="generalPre"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-width-medium-1-3">
            <div class="uk-grid">
                <div class="uk-width-1-6">
                    <i class="uk-icon-thumbs-o-up uk-icon-large uk-text-primary"></i>
                </div>
                <div class="uk-width-5-6">
                    <a href="#"><h2 class="uk-h3">植物识别</h2></a>
                    <p>细粒度图像识别之植物识别</p>
                    <input type="file" name="plant_pic" id="plant_pic" accept="image/gif/jpg" />
                    <input type="button" name="uploadPicButton" value="上传" onclick="plantPic()" />
                    <div class="uk-grid" data-uk-grid-margin >
                        <div class="uk-width-medium-1-1">
                            <pre id="plantPre"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-width-medium-1-3">
            <div class="uk-grid">
                <div class="uk-width-1-6">
                    <i class="uk-icon-cloud-download uk-icon-large uk-text-primary"></i>
                </div>
                <div class="uk-width-5-6">
                    <a href="#"><h2 class="uk-h3">动物识别</h2></a>
                    <p>细粒度图像识别之动物识别</p>
                    <input type="file" name="animal_pic" id="animal_pic" accept="image/gif/jpg" />
                    <input type="button" name="uploadPicButton" value="上传" onclick="animalPic()" />
                    <div class="uk-grid" data-uk-grid-margin >
                        <div class="uk-width-medium-1-1">
                            <pre id="animalPre"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-3">
            <div class="uk-grid">
                <div class="uk-width-1-6">
                    <i class="uk-icon-dashboard uk-icon-large uk-text-primary"></i>
                </div>
                <div class="uk-width-5-6">
                    <h2 class="uk-h3">菜品识别</h2>
                    <p>请上传菜品图片</p>
                    <input type="file" name="dish_pic" id="dish_pic" accept="image/gif/jpg" />
                    <input type="button" name="uploadPicButton" value="上传" onclick="dishPic()" />
                    <div class="uk-grid" data-uk-grid-margin >
                        <div class="uk-width-medium-1-1">
                                <pre id="disPre"><p>返回结果</p></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-width-medium-1-3">
            <div class="uk-grid">
                <div class="uk-width-1-6">
                    <i class="uk-icon-comments uk-icon-large uk-text-primary"></i>
                </div>
                <div class="uk-width-5-6">
                    <a href="#"><h2 class="uk-h3">车型识别</h2></a>
                    <p>细粒度图像识别之车型识别</p>
                    <input type="file" name="car_pic" id="car_pic" accept="image/gif/jpg" />
                    <input type="button" name="uploadPicButton" value="上传"  onclick="carPic()" />
                    <div class="uk-grid" data-uk-grid-margin >
                        <div class="uk-width-medium-1-1">
                            <pre id="carPre"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>

<script>

    // 通用图像分析
    function  generalPic() {
        var pic = $('#general_pic')[0].files[0];
        var fd = new FormData();
        fd.append('general_pic', pic);
        $.ajax({
            url:"{:U('Imageprocess/generalDetectApi')}",
            type:"post",
            // Form数据
            data: fd,
            cache: false,
            contentType: false,
            processData: false,
            success:function(data){

                try {
                    var input = eval('(' + data + ')');
                }
                catch (error) {
                    return alert("Cannot eval JSON: " + error);
                }
                var options = {
                    collapsed: false,
                    withQuotes: false
                };
                $('#generalPre').jsonViewer(input, options);
            }
        });

    }
    // 植物识别
    function  plantPic() {
    var pic = $('#plant_pic')[0].files[0];
    var fd = new FormData();
    fd.append('plant_pic', pic);
    $.ajax({
        url:"{:U('Imageprocess/plantDetectApi')}",
        type:"post",
        // Form数据
        data: fd,
        cache: false,
        contentType: false,
        processData: false,
        success:function(data){

            try {
                var input = eval('(' + data + ')');
            }
            catch (error) {
                return alert("Cannot eval JSON: " + error);
            }
            var options = {
                collapsed: false,
                withQuotes: false
            };
            $('#plantPre').jsonViewer(input, options);
        }
    });

}
    // 动物识别
    function  animalPic() {
        var pic = $('#animal_pic')[0].files[0];
        var fd = new FormData();
        fd.append('animal_pic', pic);
        $.ajax({
            url:"{:U('Imageprocess/animalDetectApi')}",
            type:"post",
            // Form数据
            data: fd,
            cache: false,
            contentType: false,
            processData: false,
            success:function(data){

                try {
                    var input = eval('(' + data + ')');
                }
                catch (error) {
                    return alert("Cannot eval JSON: " + error);
                }
                var options = {
                    collapsed: false,
                    withQuotes: false
                };
                $('#animalPre').jsonViewer(input, options);
            }
        });

    }
    // 菜品识别
    function  dishPic() {
    var pic = $('#dish_pic')[0].files[0];
    var fd = new FormData();
    fd.append('dish_pic', pic);
    $.ajax({
        url:"{:U('Imageprocess/dishDetectApi')}",
        type:"post",
        // Form数据
        data: fd,
        cache: false,
        contentType: false,
        processData: false,
        success:function(data){

            try {
                var input = eval('(' + data + ')');
            }
            catch (error) {
                return alert("Cannot eval JSON: " + error);
            }
            var options = {
                collapsed: false,
                withQuotes: false
            };
            $('#disPre').jsonViewer(input, options);
        }
    });

}
    // 车辆识别
    function  carPic() {
        var pic = $('#car_pic')[0].files[0];
        var fd = new FormData();
        fd.append('car_pic', pic);
        $.ajax({
            url:"{:U('Imageprocess/carDetectApi')}",
            type:"post",
            // Form数据
            data: fd,
            cache: false,
            contentType: false,
            processData: false,
            success:function(data){

                try {
                    var input = eval('(' + data + ')');
                }
                catch (error) {
                    return alert("Cannot eval JSON: " + error);
                }
                var options = {
                    collapsed: false,
                    withQuotes: false
                };
                $('#carPre').jsonViewer(input, options);
            }
        });

    }


</script>