<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>czkadmin</title>
    <!--<link rel="stylesheet" href="//cdn.bootcss.com/uikit/2.25.0/css/uikit.css" />-->
    <!--<script src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.js"></script>-->
    <link rel="stylesheet" href="__PUBLIC__/uikit-2.25.0/css/uikit.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/jquery.json-viewer.css" />
    <script src="__PUBLIC__/uikit-2.25.0/js/uikit.js"></script>
    <script src="__PUBLIC__/jquery/jquery-3.1.1.min.js"></script>
    <script src="__PUBLIC__/jquery/jquery.json-viewer.js"></script>

</head>

